@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');

*{
  justify-content: center;
  /* background-color:rgba(206, 180, 180, 0.377); */
  /* background-color: transparent; */
}
.hide_game{
  opacity: 0.5;
}
.app{
  display: flex;
  padding: 30px;
}

.game{
  width:560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;

}
.opacity{
  width:560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  opacity: 0.5;
}
 .container{
  width:70px;
  height:70px;
}


.sweet{
  position:absolute;
  width: 400px;
  height: 200px;
  top:12rem;
  background-color: transparent;
  
}
.score__container{
  display: flex;
  flex-direction: row;
  position: absolute;
  right:2rem;
  top:-1rem;
}
.score{
  /* top:1rem; */
  padding-top: 1.75rem;
  justify-content: baseline;
  font-size: larger;
  font-family: 'Sarina';
  color: rgb(116, 122, 30);

}
.score__img{
  width: 120px;
  height: 120px;
  background: none;
}
.reload{
  padding:10px;
  position: absolute;
  left: 5px;
  background-color: transparent;
  border: none;
  font-size: larger;
  font-family: 'Sarina';
  font-size: larger;
  font-size: 30px;
  color: rgba(218, 218, 16, 0.616);
  
}
.modal{
   position: absolute;
   box-sizing: border-box;
   height: 350px;
   width: 425px;
  border-top: 10px dashed rgba(136,80,196,255);
  border-bottom:10px solid rgba(136,80,196,255) ;
  border-left: 10px solid rgba(136,80,196,255) ;
  border-right: 10px solid rgba(136,80,196,255) ;
   top:8rem;
   right: 29rem;
   background-color: rgba(85,55,125,255);
   border-radius: 12px;
}
.modal .container{
  position: relative;
  height: 100px;
  width: 300px;
  padding: 5px;
  justify-content: center;
  top:2.5rem;
  left: 5px;
  margin: 2.5rem;
  background-color: rgba(83,42,120,255);
  border: 2px solid rgba(127,83,176,255);
  border-radius: 30px;
  
}
.continue{
  position: absolute;
  top:2rem;
  font-size: 30px;
  left:6rem;
  font-weight: 400;
  color: white;
  font-family: 'Sarina';
}
.modal .close{
  position: absolute;
  font-size: 25px;
  display: block;
  height: 40px;
  width: 40px;
  font-family: 'Sarina';
  cursor: pointer;
  border: 1.5px solid rgba(195,87,119,255);
  border-radius: 50px;
  background-color: rgba(202,45,73,255);
  top:0.35rem;
  right: 0.3rem;
  color: rgba(254,183,199,255);
}
 .info{
  position: absolute;
  display: block;
  font-size: 15px;
  height: 25px;
  width: 25px;
  font-family: 'Sarina';
  border: 0.5px solid rgba(195,87,119,255);
  border-radius: 50px;
  background-color: rgba(202,45,73,255);
  top:18.5rem;
  left: 0.4rem;
  cursor: pointer;
  color: rgba(254,183,199,255);
}
.arrow{
  position: absolute;
  top:0.40rem;
  left:6rem;
  width:100px;
  height:70px;
  box-shadow: 5px 5px 5px 0.5px rgba(46, 7, 7, 0.068)
}
.score__modal{
  position: absolute;
  font-size: 19px;
  color: white;
    top: 4.2rem;
    left: 8.5rem;
 font-family: 'Sarina';
}
.play__on{
  position: absolute;
  top:5.5rem;
  display: inline-block;
  margin: 4px 2px;
  background: #52aa3d;
  width: 200px;
    left: 3rem;
  text-decoration: none;
  padding: 10px 8px;
  border: 5px solid #6ebb56;
  border-radius: 16px;
  color: white;
  font-size: 20px;
  font-family: 'Sarina';
  transition: 0.2s background-color;
  transition: 0.2s border;
  transition: 0.2s font-size;
  cursor: pointer;
}

.play__on:hover{
  background: #6ebb56;
  font-size: 22px;
  border: 5px solid #52aa3d;
}

.new__game{
  position: absolute;
  top: 9.5rem;
  display: inline-block;
  margin: 22px 18px;
  background: #e571b0;
  width: 180px;
  left: 2.8rem;
  text-decoration: none;
  padding: 5px 10px;
  border: 5px solid #d46399;
  border-radius: 16px;
  color: white;
  font-size: 17px;
  font-family: 'Sarina';
  transition: 0.2s background-color;
  transition: 0.2s border;
  transition: 0.2s font-size;
  cursor: pointer;
}
.new__game:hover{
  background: #d46399;
  border: 5px solid #e571b0;
  font-size: 20px;
}

.candy__modalbg{
  position: absolute;
  display: block;
  width:500px;
  height:350px;
  top:17rem;
  left:0.5rem;
  z-index: 100;
}
.candy__bg{
  position: absolute;
  opacity: 0.7;
  z-index: -100;
  top: 0rem;
  height: 100vh;
  width: 100vw;
}


/* progress */

.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 30px;
	width: 300px;
}

.progress-done {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}